// TYPOGRAPHY

a.navbar-item {
    color: rgb(111, 176, 185);
    font-size: 25px;
    letter-spacing: 3.31px;
    text-align: center;
    font-weight: bold;
}

// body {
//     .about-me {
//         .columns {
//             .column {
//                 h1 {
//                     *, ::after, ::before {
//                         box-sizing: inherit;
//                         color: blue;
//                     }
//                     // font-family: $text;
//                     // color: rgb(111, 176, 185);
//                     // font-size: 50px;
//                     // letter-spacing: 3.31px;
//                     // text-align: center;
//                 }
//             } 
//         }
//     }
// }

h1.header {
    color: $text-color;
    font-size: 65px;
}



p {
    color: rgb(111, 176, 185);
    font-size: 20px;
    letter-spacing: 1.75px;
}



.footer {
    color: rgb(111, 176, 185);
    font-size: 14px;
    text-align: center;
}