// HOME

h1.header {
    padding: 10px;
}


figure.image {
    margin: 0 auto;
}


div.column {
    background-color: $background;
    width: 100%;

}

div.card {
    background-color:$background;
}

div.home {
    background-color: $background;
}

.section {
    background-color: $background;
    
    div.container {
        justify-content: center;
        flex-direction: column;
        
        .button {
            background-color: $text-color;
            color: white;
            border-radius: 5px;
            font-family: "Times New Roman";
        }
    }
}

form {
    label{
        color: $text-color;
        font-size: 30px;
    }

    .input {
        font-size: 1.25rem;
    }

    .centered-button {
        display: flex;
        justify-content: center;
    }
}

.section div.container .button {
    width: 200px;
    margin: 0 auto;
}

.margin-r {
    margin-left: 165px;
}







