// HOME


h1.header {
    padding: 10px;
}


figure.image {
    margin: 0 auto;
}


// p.content {
//     height: auto; 
// }


// .card-content {
//     margin: 10px 30px;
// }

div.column {
    background-color: $background;

}

div.card {
    background-color:$background;
}

div.home {
    background-color: $background;
}

// .is-multiline {
//     display: flex;
//     flex-direction: column;
// }


// h1.header {
//     display: flex;
    
// }



